[Unit]
Description=Melchior

[Service]
Environment=MELCHIOR_TLS_CERT=/certs/jfh.me.crt
Environment=MELCHIOR_TLS_KEY=/certs/jfh.me.key
Environment=MELCHIOR_HOSTNAME=jfh.me
Environment=MELCHIOR_BIND_ADDR=:1965
Environment=MELCHIOR_ROOT_DIR=/root/

RootDirectory=/var/gemini
PrivateUsers=yes
MountAPIVFS=no
ExecStart=/melchior

[Install]
WantedBy=multi-user.target
